* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 300px 3fr;
    grid-template-rows: 1fr 4fr;
    min-height: 100vh;
}
.sidebar {
    background: lightgreen;
    grid-row: 1 / 3;
}

.header {
    background: lightblue;
    grid-column: 2 / 3;
}

.main-content {
    background: lightpink;
    grid-column: 2 / 3;
}